TELEGRAM_TOKEN=<ваш-телеграмм-токен>
GIGACHAIN_API_KEY=<ваш-gigachat-ключ>
GIGACHAIN_MODEL_NAME=GigaChat
WEATHER_API_KEY=<ваш-weather-api-ключ>
WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather
REDIS_URL=<ваш-redis-url>
